/* google font */

  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* universal style */
body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* common style */

main {
    padding: 0 230px;
}

.primary-btn {
	color: #FFF;
	text-align: right;
	font-family: Work Sans;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-decoration: none;
	border-radius: 5px;
	background: #F15B22;
	padding: 20px 25px;
	display: inline-block;
}

/* banner section style */

.banner-section {
	display: flex;
	justify-content: end;
	align-items: center;
	min-height: 810px;
	background-position: center;
}

.banner-wrapper-box {
    padding: 0 230px;
}

.banner-content {
	text-align: right;
}

.banner-tittle {
	color:#151414;
	font-size: 65px;
	font-weight: 700;
}

.banner-desc {
	color: #444343;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
}

/* improvement section style */

.improvement-section {
	display: flex;
	align-items: center;
    margin-top: 140px;
}

.improvement-thumb {
    margin-left: -25px;
}

.impro-tittle {
	color: #151414;
	font-size: 40px;
	font-weight: 700;
}

.impro-description {
	color:#444343;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
}

.improvement-list li {
	color: #444343;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	list-style: none;
	margin-bottom: 10px;
}

.improvement-list li svg {
	margin-bottom: -5px;
}

/* my plan section style */

.my-plans {
	display: flex;
	justify-content: space-around;
}

.my-plan-wrapper {
	text-align: center;
}

.my-plan-section-tittle {
	color:#151414;
	font-size: 40px;
	font-weight: 700;
	text-align: center;
}

.my-plan-tittle {
	color: #151414;
	text-align: center;
	font-size: 25px;
	font-weight: 700;
	margin: 0;
	margin-bottom: 15px;
}

.my-plan-thumb {
	margin-bottom: 25px;
}

.my-plan-textg {
	color: #737272;
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	margin: 0;
}

/* motivated section style */

.motivated-section {
	min-height: 300px;
	background-position: center center;
	position: relative;
	margin: 130px 0;
}

.bg-gradian-shadow {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.motivated-text {
	color: #FFF;
	font-size: 40px;
	font-weight: 700;
	position: relative;
	z-index: 9;
	line-height: 1;
	margin: 0;
	margin-bottom: 30px;
}

.motivated-btn {
	color: #F15B22;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	position: relative;
	z-index: 9;
	border-radius: 5px;
	background: #FFF;
	text-decoration: none;
	padding: 20px 35px;
	display: inline-block;
}

.motivated-content-box {
	padding-top: 60px;
	padding-left: 65px;
}